<div>
  <label for="search">Search by title:</label>
  <input type="text" id="search" [(ngModel)]="searchTerm">
  <button (click)="searchContent()">Search</button>
</div>

<div *ngIf="searchResult !== null">
  <p [ngClass]="{ 'not-found': searchResult === false, 'found': searchResult === true }">
    {{ searchResult ? 'Content found' : 'Content not found' }}
  </p>
</div>

<br /><br />
<create-content (addContentEvent)="addContent($event)"></create-content>
<br /><br />

<div class="contentContainer">
  Search by Type: <input [(ngModel)]="search"><br />

  <h3>Content without type (rock)</h3>
  <div [ngClass]="(item.type)" class="contentCard" *ngFor="let item of contentItems | filter: search | filter; index as i; first as First" [class.is-first]="First">
    <h1 class="contentTitle">{{ item.title }}</h1>
    <h5 class="contentGenre" *ngIf="item.type" HoverAffect affect="underline">{{ item.type }}</h5>
    <img *ngIf="item.imgURL" src="{{ item.imgURL }}"  alt="" width="250px" (click)="imageClick(item)"/>
    <img *ngIf="!item.imgURL" src="/assets/images/placeholder.png"  alt="" width="250px" (click)="imageClick(item)"/>
    <p class="contentMembers">{{ item.creator }}</p>
    <p class="contentDesc">{{ item.description }}</p>
    <ul *ngIf="item.tags">
      <li class="contentTags" *ngFor="let tag of item.tags" HoverAffect affect="bold">
        {{ tag }}
      </li>
    </ul>
  </div>

  <h3>Metal</h3>
  <div [ngClass]="(item.type)" class="contentCard" *ngFor="let item of contentItems | filter: search | filter: 'Metal'; index as i; first as First" [class.is-first]="First">
    <h1 class="contentTitle">{{ item.title }}</h1>
    <h5 class="contentGenre" *ngIf="item.type" HoverAffect affect="underline">{{ item.type }}</h5>
    <img *ngIf="item.imgURL" src="{{ item.imgURL }}"  alt="" width="250px" (click)="imageClick(item)"/>
    <img *ngIf="!item.imgURL" src="/assets/images/placeholder.png"  alt="" width="250px" (click)="imageClick(item)"/>    <p class="contentMembers">{{ item.creator }}</p>
    <p class="contentDesc">{{ item.description }}</p>
    <ul *ngIf="item.tags">
      <li class="contentTags" *ngFor="let tag of item.tags" HoverAffect affect="bold">
        {{ tag }}
      </li>
    </ul>
  </div>

  <h3>K-Pop</h3>
  <div [ngClass]="(item.type)" class="contentCard" *ngFor="let item of contentItems | filter: search | filter: 'K-Pop'; index as i; first as First" [class.is-first]="First">
    <h1 class="contentTitle">{{ item.title }}</h1>
    <h5 class="contentGenre" *ngIf="item.type" HoverAffect affect="underline">{{ item.type }}</h5>
    <img *ngIf="item.imgURL" src="{{ item.imgURL }}"  alt="" width="250px" (click)="imageClick(item)"/>
    <img *ngIf="!item.imgURL" src="/assets/images/placeholder.png"  alt="" width="250px" (click)="imageClick(item)"/>    <p class="contentMembers">{{ item.creator }}</p>
    <p class="contentDesc">{{ item.description }}</p>
    <ul *ngIf="item.tags">
      <li class="contentTags" *ngFor="let tag of item.tags" HoverAffect affect="bold">
        {{ tag }}
      </li>
    </ul>
  </div>
</div>



