
.contentCard {
  border: 1px solid #4c4c4c;
  width: 600px;
  background: #d4d4d4;
  color:#4c4c4c;
  display: inline-block;
  margin: 2.5%;
}

.Metal {
  background: #ceabab;
  color: #4d3232;
}

.K-Pop {
  background: #bbabce;
  color: #40324d;
}

.contentTitle {
  margin: 0;
  padding-left: 10%;
  line-height: 200%;
  background: #4c4c4c;
  color: #d4d4d4;
}

.contentGenre {
  margin: 0;
  color: #d4d4d4;
  background: #4c4c4c;
  font-size: 14px;
  padding-left: 2.5%;
  line-height: 125%;
}

.Metal > .contentTitle, .Metal > .contentGenre {
  background: #4d3232;
  color: #ceabab;
}

.K-Pop > .contentTitle, .K-Pop > .contentGenre {
  background: #40324d;
  color: #bbabce;
}

.contentCard img {
  display: block;
  position: relative;
  float: left;
  width: 250px;
  margin: 0;
  padding-right: 2%;
}

.contentMembers {
  font-size: small;
}

.contentTags {
  font-size: smaller;
  text-align: right;
}

.First {
  border: 2px solid #4c4c4c;
}

.not-found {
  color: red;
}

.found {
  color: green;
}
