<div>
  <label for="search">Search by title:</label>
  <input type="text" id="search" [(ngModel)]="searchTerm">
  <button (click)="searchContent()">Search</button>
</div>

<div *ngIf="searchResult !== null">
  <p [ngClass]="{ 'not-found': searchResult === false, 'found': searchResult === true }">
    {{ searchResult ? 'Content found' : 'Content not found' }}
  </p>
</div>

<div class="contentContainer">
  <input [(ngModel)]="search"><br />

  <h3>Content without type (rock)</h3>
  <div [ngClass]="(item.type)" class="contentCard" *ngFor="let item of contentItems | filter: search | filter; index as i; first as First" [class.is-first]="First">
    <h1 class="contentTitle">{{ item.title }}</h1>
    <h5 class="contentGenre" *ngIf="item.type">{{ item.type }}</h5>
    <img src="{{ item.imgURL }}"  alt="" width="250px" (click)="imageClick(item)"/>
    <p class="contentMembers">{{ item.creator }}</p>
    <p class="contentDesc">{{ item.description }}</p>
    <p class="contentTags" *ngIf="item.tags">{{ item.tags }} </p>
  </div>

  <h3>Metal</h3>
  <div [ngClass]="(item.type)" class="contentCard" *ngFor="let item of contentItems | filter: search | filter: 'Metal'; index as i; first as First" [class.is-first]="First">
    <h1 class="contentTitle">{{ item.title }}</h1>
    <h5 class="contentGenre" *ngIf="item.type">{{ item.type }}</h5>
    <img src="{{ item.imgURL }}"  alt="" width="250px" (click)="imageClick(item)"/>
    <p class="contentMembers">{{ item.creator }}</p>
    <p class="contentDesc">{{ item.description }}</p>
    <p class="contentTags" *ngIf="item.tags">{{ item.tags }} </p>
  </div>

  <h3>K-Pop</h3>
  <div [ngClass]="(item.type)" class="contentCard" *ngFor="let item of contentItems | filter: search | filter: 'K-Pop'; index as i; first as First" [class.is-first]="First">
    <h1 class="contentTitle">{{ item.title }}</h1>
    <h5 class="contentGenre" *ngIf="item.type">{{ item.type }}</h5>
    <img src="{{ item.imgURL }}"  alt="" width="250px" (click)="imageClick(item)"/>
    <p class="contentMembers">{{ item.creator }}</p>
    <p class="contentDesc">{{ item.description }}</p>
    <p class="contentTags" *ngIf="item.tags">{{ item.tags }} </p>
  </div>
</div>



