<form (ngSubmit)="addContentToList()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" class="form-control" [(ngModel)]="title" name="title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" class="form-control" [(ngModel)]="description" name="description"></textarea>
  </div>
  <div class="form-group">
    <label for="creator">Creator</label>
    <input type="text" id="creator" class="form-control" [(ngModel)]="creator" name="creator">
  </div>
  <div class="form-group">
    <label for="imgURL">Image URL</label>
    <input type="text" id="imgURL" class="form-control" [(ngModel)]="imgURL" name="imgURL">
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <input type="text" id="type" class="form-control" [(ngModel)]="type" name="type">
  </div>
  <div class="form-group">
    <label for="tags">Tags</label>
    <input type="text" id="tags" class="form-control" [(ngModel)]="tags" name="tags">
  </div>
  <button type="submit" class="btn btn-primary">Add Content</button>
</form>
